{% extends "miniPress.skeleton.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block minipress %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
            <h1 class="mr-3">Liste des articles</h1>

            <form action="{{ url_for('articlesList') }}" method="get" class="form-inline">
                <div class="form-group mr-3">
                    <label for="categorySelect">Filtrer par catégorie:</label>
                    <select id="categorySelect" name="tri" class="form-control" onchange="this.form.submit()">
                        <option value="">Toutes les catégories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <a href="{{ url_for('createArticle') }}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Ajouter un article</a>
        </div>

        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">Créé le : {{ article.created_at }}</p>
                            {% if article.published_at is not null %}
                                <p class="card-text">Publié le : {{ article.published_at }}</p>
                            {% endif %}
                            {% if article.isPublished == 0 %}
                                <a href="{{ url_for('publication', {'article_id' : article.id}) }}" class="btn btn-primary">Publier</a>
                            {% else %}
                                <a href="{{ url_for('publication', {'article_id' : article.id}) }}" class="btn btn-primary">Dépublier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
